body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

ul#characterList {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

span {
    font-weight: bold;
}

img {
    width: 200px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

p {
    margin: 0;
    font-weight: bold;
}

span.gender {
    text-transform: capitalize;
}

.error {
    color: red;
    font-weight: bold;
}